.custom-btn {
    background-color: #6a0074;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.custom-btn:hover {
    background-color: #070046;
}